<!DOCTYPE html>
<html>
<head>
    <title>Student Leaves</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='University-of-Vavuniya-Logo-1024x1024.png') }}" type="image/png">
</head>
<body>
    <h2>Student Leaves</h2>
    <table>
        <thead>
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Report</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for report in reports %}
            <tr>
                <td>{{ report.start_date }}</td>
                <td>{{ report.end_date }}</td>
                <td>{{ report.report }}</td>
                <td>{{ report.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('admin_dashboard') }}">Back to Dashboard</a>
</body>
</html>
